@import url(https://fonts.googleapis.com/css?family=Muli);
@import url(https://fonts.googleapis.com/css?family=Oswald:400,300);

body {
	font-family: 'Open Sans', sans-serif;
	margin-top: 58px;
	padding-top: 2px;
}

.brandLogo {
	height: 60px;
}

.alternateBackground1 {
	background: url(../img/BambooBackground.jpg) no-repeat center center;
	background-size: cover;
}

.alternateBackground2 {
	background-color: rgba(240, 237, 227, 0.9);
}

.alternateBackground3 {
	background: url(../img/MarchBackground.jpg) no-repeat center center;
	background-size: cover;
}

nav {
	background-color: rgb(29,29,29) !important;
	border-bottom: solid !important;
	border-bottom-width: 2px !important;
	border-bottom-color: black !important;
}

.ui-view {
	padding: 0 !important;
	margin: 0 !important;
}

.title {
	font-family: Oswald;
	text-transform: uppercase;
}

.titleBorder {
	height: 3px;
	width: 60px;
	background-color: rgb(236, 70, 51);
	margin-top: 0;
	margin-bottom: 20px;
	margin-left: auto;
	margin-right: auto;
}

div .section {
	padding: 50px 0;
	border-top-color: #C0C0C0;
	border-top-style: solid;
	border-top-width: thin;
}

/*--------- Header section for Home ------------*/

.header {	
	padding-top: 20px;
    background: url(../img/LanternBackground.jpg) no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    height: 580px;
}

.page-header small {
	font-weight: 300;
	font-style: italic;
	color: #C0C0C0;
	text-transform: none;
}

.page-header {
	border: none;
	font-family: Oswald, sans-serif;
	text-transform: uppercase;
	color: white;
}

#headerButton {
	padding: 20px 50px;
}

/*------------------------------------------------*/

/*------------ Events section for Home -----------*/

.event-container {
	border-left: solid thin #C0C0C0;
}

.event-date {
	margin-right: 0.5em;
}

.day {
	font-size: 2.8em;
	margin-bottom: 0px;
}

div.right {
	font-weight: bold;
	font-size: 0.8em;
}

.month {
	margin-bottom: 3px;
}

.event-name {
	font-style: italic;
	font-size: 01em;
	font-weight: 100;
	margin-bottom: 2px;
}

.event-address {
	font-style: bold;
	font-size: 0.8em;
	font-weight: 100;
}

.event-description div {
	display: inline-block;

}

/*------------------------------------------------*/

/*------------ Blogs section for Home ------------*/

.thumbnail {
	border-style: none;
	padding: 0;
}

.thumbnail > div:last-child, .whiteBackground {
	background-color: white;
	padding: 5px;
	position: relative;
}

.thumbnail > div:last-child div:last-child {
	postition:absolute;
	bottom: 0px;
}

.postTitle {
	font: Georgia;
	color: rgb(63,63,63);
}

.postText {
	font: normal 13px/24px 'Helvetica';
	color: rgb(63,63,63);
}

/*-----------------------------------------------*/

/*------------------- Footer --------------------*/

.footer {
	padding-top: 20px;
	background-color: rgb(53, 52, 52);
	border-bottom: solid;
	border-bottom-width: 30px;
	border-bottom-color: rgb(45, 45, 45);
	color: rgb(155, 154, 154);
	font-size: 12px;
	text-align: center;
}

.fa, #copyright {
	color: rgb(236, 70, 51);
}

#copyright {
	font-size: 14px;
	font-weight: 200;
}

/*------------------------------------------------*/

/*------------ Styling for About page ------------*/

#boardMembers {
	padding-top: 0.5em;
	padding-bottom: 0.5em;
}

#memberPhoto {
	width: 15em;
	display: block;
    margin-left: auto;
    margin-right: auto;
}

.aboutPhoto {
	display: block;
    margin-left: auto;
    margin-right: auto;
    padding-bottom: 1em;
}

/*------------------------------------------------*/

/*--- Section handles screens wider that 768px ---*/
@media screen and (min-width: 768px) {
    
	.leftFooter {
		text-align: left;
	}

	.rightFooter {
		text-align: right;
	}

    .navbar-brand, .navbar-nav li a {
        padding-top: 0;
        padding-bottom: 0;
        line-height: 60px;
        font-family: 'Muli', Helvetica, Arial, sans-serif;
        text-transform: uppercase;
        display: inline-block;
    }

    /*------------ Events in Home -----------*/

	.event-date {
		margin-right: 1.4em;
	}

	.month {
		margin-bottom: 8px;
	}

	.event-name {
		font-size: 1.25em;
		margin-bottom: 4px;
	}

	.event-address {
		font-size: 1.17em;
	}

	.day {
		font-size: 4.5em;
	}

	div.right {
		font-size: 1.15em;
	}

    /*---------------------------------------*/

    /*---------- Navbar annimation ----------*/	
	.sliding-u-l-r:after {
		content: '';
		display: block;
		height: 3px;
		width: 0;
		background: transparent;
		transition: width .5s ease, background-color .5s ease;
	}
	
	.sliding-u-l-r:hover:after {
		width: 100%;
		background: rgb(236, 70, 51);
	}

	.navbar-inverse .navbar-nav>li>a:hover {
		color: white;
	}

	.navbar-inverse .navbar-nav>li>a:focus {
		color: rgb(236, 70, 51);
	}
	/*----------------------------------------*/
}
/*------------------------------------------------*/