<div ng-controller="aboutCtrl">
	<div id="aboutHistory" class="container section">
		<div class="col-md-6">
			<h1 class="title text-center">Story</h1>
			<div class="titleBorder"></div>
			<img class="aboutPhoto" src="img/walking.jpg">
			<p>Formerly known as the Organization of Chinese Americans, OCA was founded in 1973 with a vision of uniting Chinese Americans across the United States into one representative voice. Today, OCA has transformed into a national organization dedicated to advancing the social, political, and economic well-being of Asian Pacific Americans in the United States.</p>
			<p>The Greater Seattle Chapter was formed in 1995 and since that time it has been serving the Greater Seattle Chinese and Asian Pacific American community as well as other communities in the Pacific Northwest. It is recognized in the local community for its advocacy of civil and voting rights as well as its sponsorship of community activities and events.</p>
			<p>OCA is not-for-profit, non-partisan organization representing over 10,000 people nationally, including affiliates, college affiliates, Young OCA, OCA Young Professionals, and general membership.</p>
			<p>In 2003 and 2004 the Greater Seattle chapter was named Chapter of the Year by OCA National.</p>
		</div>
		<div class="col-md-6">
			<h1 class="title text-center">Activism</h1>
			<div class="titleBorder"></div>
			<img class="aboutPhoto" src="img/voting.png">
			<p class="contentText">From decrying racist art displays to ensuring equal voting access for all citizens, OCA – Greater Seattle Chapter has been a champion in the fight for civil rights. We supported Dr. Wen Ho Lee’s fight for due process, law enforcement investigations into hate crimes,  and most recently Washington state’s push for marriage equality. In addition to political activism, our membership consistently participates in community service activities including the annual Walk for Rice, Chinatown International District Spring Cleanup, and our own Lunar New Year dinners and Golden Circle Awards.</p>
		</div>
	</div>
	<div class="container section">
		<h1 class="title text-center">Board Members</h1>
		<div class="titleBorder"></div>
	    <div id="boardMembers" ng-repeat="data in profiles" class="row">
	    	<div class="col-md-3">
	        	<img id="memberPhoto" src="profiles/{{data.photo}}">
	    	</div>
	    	<div class="col-md-9">
		        <h3>{{data.name}} - {{data.position}}</h2>
		        <p>{{data.bio}}</p>
	    	</div>
	    </div>
	</div>
</div>