<div class="container">
	<button ng-hide="signInClick || loggedIn" class="btn btn-link" ng-click="signInClick = true"><i class="fa fa-plus"></i></button>
    
    <div ng-show="signInClick">
        <form name="logInForm">
            <label for="email">Email:</label>
            <input id="email" class="form-control" ng-model="email" type="email" required>
            <label for="password">Password:</label>
            <input id="password" class="form-control" ng-model="password" type="password" required>
            <button class="btn btn-primary" ng-click="signIn()" ng-disabled="logInForm.$invalid">Submit</button>
            <button class="btn btn-warning" ng-click="signInClick = false">Cancel</button>
        </form>
    </div>
    
    <div ng-show="loggedIn">
        <button class="btn btn-info" ng-hide="eventClick" ng-click="eventClick = true">Add Event</button>
        <form ng-show="eventClick" name="eventForm">
            <label for="title">Title:</label>
            <input class="form-control" id="title" type="text" ng-model="title" required>
            <label for="date">Date:</label>
            <input class="form-control" id="date" type="datetime-local" ng-model="date" required>
            <label for="description">Describe the event:</label>
            <textarea id="description" ng-model="description" class="form-control" rows="10" required></textarea>
            <button class="btn btn-info" ng-disabled="eventForm.$invalid" ng-click="addEvent()">Submit</button>
        </form>
    </div>

    <div ui-calendar="uiConfig.calendar" class="span8 calendar" ng-model="eventSources"></div>

    <div>
        <h1>Upcoming Events</h1>
        <div ng-repeat="event in events">
            <h2>{{event.title}}</h2>
            <h3>{{event.month}}/{{event.day}} {{event.hour}}:{{event.minute}}</h3>
            <p>{{event.description}}</p>
        </div>
    </div>
</div>